pache Web Server
Apache was configured successfully using an Ansible role.

Name: {{ owner_name }}

Hostname: {{ ansible_hostname }}

Private IP: {{ ansible_default_ipv4.address }}

Apache Port: {{ apache_port }}
